expose_php = Off
display_errors = Off
log_errors = On
memory_limit = 256M
upload_max_filesize = 32M
post_max_size = 32M
max_execution_time = 120
date.timezone = Asia/Tehran
session.cookie_httponly = 1
session.cookie_samesite = Lax
