services:
  web:
    image: nginx:stable-alpine
    ports:
      - "8080:80"
    depends_on: [php]
  php:
    image: wordpress:php8.3-fpm
    env_file: ../../.env
    depends_on: [db]
  db:
    image: mariadb:11.4
    env_file: ../../.env
    volumes:
      - db-data:/var/lib/mysql

volumes:
  db-data:
